:root {
  --color-black: #000000;
  --color-dark: #222222;
  --color-dark-hover: #222222cc;
  --color-lighter: #979797;
  --color-lightest: #d2d2d2;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}